@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="home mx-auto" id="home">
    <div class="home-content">
        <h3>¡Te damos la bienvenida a</h3>
        <h1>CODECREATORS S.A.C.!</h1>
        <h3>Realizamos <span class="multiple-text"></span></h3>
        <p>¿Estás listo para llevar tu negocio al siguiente nivel? ¡No esperes más!</p>
        <a href="#" class="btn">Ir a Servicios</a>
    </div>
    <div class="home-img">
        <img src="~/img/CODE8.png" alt="">
    </div>
</section>
