@page
@model Pages_Nosotros
@{
    ViewData["Title"] = "Nosotros";
}


<link rel="stylesheet" href="~/css/site - Nosotros.css">
<body>
<header class="header">
  <div class="header-txt text-center">
      <span>CODECREATORS</span>
       <h1>RESEÑA HISTORICA</h1>
  </div>
</header>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <h1>2010: </h1>
                <h3>En un pequeño garaje de San Martín de Porres, Lima, dos jóvenes amigos, Luis y Jean, unidos por su pasión por la tecnología y el deseo de crear soluciones innovadoras, dan vida a CodeCreators S.A.C. Su sueño: transformar la forma en que las personas interactúan con el mundo digital.</h3>
                <h1>Comienzos humildes: </h1>
                <h3>Con un capital limitado y una gran dosis de esfuerzo, Luis y Jean inician su aventura. Sus primeros proyectos son pequeños, pero cada uno representa un aprendizaje y un paso adelante. Su dedicación y atención al detalle les permiten ganar la confianza de sus primeros clientes, sentando las bases para su crecimiento.</h3>
                <h1>Crecimiento acelerado: </h1>
                <h3>La calidad del trabajo de CodeCreators S.A.C. no pasa desapercibida. A medida que su cartera de clientes se expande, la empresa se muda a una oficina más grande y contrata a un equipo de talentosos desarrolladores. La empresa se especializa en el desarrollo de sitios web personalizados y aplicaciones de escritorio que se adaptan a las necesidades específicas de cada cliente.</h3>
                <h1>Innovación constante: </h1>
                <h3>CodeCreators S.A.C. se mantiene a la vanguardia de las últimas tecnologías, invirtiendo en investigación y desarrollo. La empresa apuesta por metodologías ágiles y herramientas de última generación para garantizar la eficiencia y la calidad de sus proyectos.</h3>
            </div>
            <div class="col-md-6">
                <!-- Imagen a la derecha -->
                <img src="~/img/OIG4.jpg" class="img-fluid">
            </div>
        </div>
    </div>
<section class="general container">
    <div class="general-img">
        <img src="~/img/mapa-removebg-preview.png" alt="">
    </div>

    <div class="general-txt">
        <h1>VISION</h1>
        <p>
                Nuestra visión en CodeCreators S.A.C. va más allá de ser una empresa líder en desarrollo de software en Perú. Visualizamos un futuro en el que nuestras innovaciones tecnológicas se convierten en pilares fundamentales para el progreso y la transformación digital a nivel global. Nos esforzamos por ser reconocidos no solo por la excelencia técnica, sino también por nuestro impacto positivo en la sociedad. Aspiramos a ser un referente en el compromiso social, contribuyendo a comunidades y causas que van más allá de la esfera tecnológica. En este viaje, nuestra pasión por la innovación y la calidad seguirá siendo el motor que nos impulsa hacia adelante.
        </p>
    </div>
</section>


<section class="general container">
    <div class="general-txt">
        <h1>MISION</h1>
        <p>
                En CodeCreators S.A.C., nuestra misión es ir más allá de la creación de soluciones tecnológicas personalizadas. Nos esforzamos por ser el catalizador que impulsa el crecimiento sostenible de nuestros clientes, ofreciendo no solo productos y servicios de alta calidad, sino también una asociación estratégica. Nos comprometemos a entender profundamente las necesidades de nuestros clientes y aportar soluciones que no solo resuelvan problemas inmediatos, sino que también allanen el camino para futuras innovaciones. Al hacerlo, aspiramos a mejorar no solo la eficiencia operativa de las empresas, sino también la calidad de vida de las personas que interactúan con nuestras soluciones.
        </p>
    </div>
    <div class="general-img">
        <img src="~/img/aqui.jpg" alt="">
    </div>
</section>

 <footer class="plan container  border-top border-primary">

    <div class="plan-content">

            <a class="navbar-brand" href="#">
                <img src="~/img/logo_6676F9.svg" alt="Logo">
                <span class="text-black company-name">CodeCreators</span>
            </a>
            <div class="plan-1">
                <h3>Explore</h3>
                <a class="text-black nav-link" asp-page="/Index">•Inicio</a>
                <a class="text-black nav-link" asp-page="/Nosotros">•Nosotros</a>
                <a class="text-black nav-link" asp-page="/Servicios">•Servicios</a>
                <a class="text-black nav-link" href="#">•Contacto</a>
            </div>

        <div class="plan-1">
            <h3>CODECREATORS S.A.C</h3>
            <h6>Servicio, Calidad y Productividad</h6>
            <h6>📍Av. Garcilaso de la Vega 1348, Lima 15001</h6>
        </div>
        <div class="plan-1">
            <h3>Contacto</h3>
            <h6>📞Tel:   +0015214</h6>
            <h6>📱Cel:   +51926584236</h6>
            <h6>📧Email: lopezL@codecreators.net</h6>
        </div>
        

    </div>

</footer>
</body>
