html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand img {
    max-height: 40px; /* Ajusta la altura según sea necesario */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}

.navbar-brand .company-name {
    font-size: 1.5rem; /* Ajusta el tamaño del texto según sea necesario */
    line-height: 40px; /* Ajusta la altura de línea según sea necesario */
    color: #fff; /* Cambia el color del texto según sea necesario */
}

/* Estilo para la barra de navegación */
.navbar {
    padding: 10px 0;
}

/* Estilo para los enlaces en la parte superior derecha */
.navbar-nav.img-links img {
    max-height: 30px; /* Ajusta la altura según sea necesario */
    margin-right: 10px; /* Ajusta el margen derecho según sea necesario */
}


.image-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Añadido para asegurar que la imagen no desborde el contenedor */
}

    .image-container img {
        width: 100%;
        height: auto; /* Para mantener la proporción de la imagen */
    }

.overlay-text {
    position: absolute;
    top: 50%;
    left: 1.5%;
    transform: translateY(-50%);
    color: white;
}